PORT=5000
DATABASE_ONLINE=mongodb+srv://admin:<PASSWORD>@cluster0-uarv1.mongodb.net/shoes-shop?retryWrites=true&w=majority
DATABASE_PASSWORD_ONLINE=admin
DATABASE=mongodb://nttung:<PASSWORD>@localhost:27017/shoes-shop?authSource=admin&w=1
DATABASE_PASSWORD=mongodb
ITEMS_ON_PAGE=9
SESSION_SECRET=nttung