<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <script src="/vendors/jquery/jquery-3.2.1.min.js"></script>
    {{> _header}}

    {{{body}}}

    {{> _footer}}
    {{> script}}
</body>

</html>