footer#colorlib-footer(role='contentinfo')
    .container
        .row.row-pb-md
            .col.footer-col.colorlib-widget
                h4 About Footwear
                p
                    | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life
                p
                    ul.colorlib-social-icons
                        li
                            a(href='#')
                                i.icon-twitter
                        li
                            a(href='#')
                                i.icon-facebook
                        li
                            a(href='#')
                                i.icon-linkedin
                        li
                            a(href='#')
                                i.icon-dribbble
            .col.footer-col.colorlib-widget
                h4 Customer Care
                p
                    ul.colorlib-footer-links
                        li
                            a(href='#') Contact
                        li
                            a(href='#') Returns/Exchange
                        li
                            a(href='#') Gift Voucher
                        li
                            a(href='#') Wishlist
                        li
                            a(href='#') Special
                        li
                            a(href='#') Customer Services
                        li
                            a(href='#') Site maps
            .col.footer-col.colorlib-widget
                h4 Information
                p
                    ul.colorlib-footer-links
                        li
                            a(href='#') About us
                        li
                            a(href='#') Delivery Information
                        li
                            a(href='#') Privacy Policy
                        li
                            a(href='#') Support
                        li
                            a(href='#') Order Tracking
            .col.footer-col
                h4 News
                ul.colorlib-footer-links
                    li
                        a(href='blog.html') Blog
                    li
                        a(href='#') Press
                    li
                        a(href='#') Exhibitions
            .col.footer-col
                h4 Contact Information
                ul.colorlib-footer-links
                    li
                        | 291 South 21th Street, 
                        br
                        |  Suite 721 New York NY 10016
                    li
                        a(href='tel://1234567920') + 1235 2355 98
                    li
                        a(href='mailto:info@yoursite.com') info@yoursite.com
                    li
                        a(href='#') yoursite.com
    .copy
        .row
            .col-sm-12.text-center
                p
                    span
                        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                        | Copyright &copy;
                        script.
                            document.write(new Date().getFullYear());
                        |  All rights reserved | This template is made with 
                        i.icon-heart(aria-hidden='true')
                        |  by 
                        a(href='https://colorlib.com' target='_blank') Colorlib
                        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                    span.block
                        | Demo Images: 
                        a(href='http://unsplash.co/' target='_blank') Unsplash
                        |  , 
                        a(href='http://pexels.com/' target='_blank') Pexels.com