nav.colorlib-nav(role='navigation')
    .top-menu
        .container
            .row
                .col-sm-7.col-md-9
                    #colorlib-logo
                        a(href='/') Footwear
                .col-sm-5.col-md-3
                    form.search-wrap(action='#')
                        .form-group
                            input.form-control.search(type='search' placeholder='Search')
                            button.btn.btn-primary.submit-search.text-center(type='submit')
                                i.icon-search
            .row
                .col-sm-12.text-left.menu-1
                    ul
                        li.active
                            a(href='/') Home
                        li
                            a(href='/shop') Shop
                        li
                            a(href='about') About
                        li
                            a(href='contact') Contact
                        if user
                            li.cart
                                a(href='cart')
                                    i.icon-shopping-cart
                                    |  Cart [0]
                        else
                            li.cart
                                a(href='/login') Login
                                | &frasl;
                                a(href='/register') Register
                          
                               
                            
    .sale
        .container
            .row
                .col-sm-8.offset-sm-2.text-center
                    .row
                        .owl-carousel2
                            .item
                                .col
                                    h3
                                        a(href='#') 25% off (Almost) Everything! Use Code: Summer Sale
                            .item
                                .col
                                    h3
                                        a(href='#') Our biggest sale yet 50% off all summer shoes