doctype html
head
    // Mobile Specific Meta
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Favicon
    link(rel='shortcut icon' href='img/fav.png')
    // Author Meta
    meta(name='author' content='CodePixar')
    // Meta Description
    meta(name='description' content='')
    // Meta Keyword
    meta(name='keywords' content='')
    // meta character set
    meta(charset='UTF-8')
    // Site Title
    title Karma Shop
    //
        CSS
        =============================================
    link(rel='stylesheet' href='css/linearicons.css')
    link(rel='stylesheet' href='css/owl.carousel.css')
    link(rel='stylesheet' href='css/font-awesome.min.css')
    link(rel='stylesheet' href='css/themify-icons.css')
    link(rel='stylesheet' href='css/nice-select.css')
    link(rel='stylesheet' href='css/nouislider.min.css')
    link(rel='stylesheet' href='css/bootstrap.css')
    link(rel='stylesheet' href='css/main.css')
// Start Header Area
header.header_area.sticky-header
    .main_menu
        nav.navbar.navbar-expand-lg.navbar-light.main_box
            .container
                // Brand and toggle get grouped for better mobile display
                a.navbar-brand.logo_h(href='index.html')
                    img(src='img/logo.png' alt='')
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                // Collect the nav links, forms, and other content for toggling
                #navbarSupportedContent.collapse.navbar-collapse.offset
                    ul.nav.navbar-nav.menu_nav.ml-auto
                        li.nav-item
                            a.nav-link(href='index.html') Home
                        li.nav-item.submenu.dropdown
                            a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Shop
                            ul.dropdown-menu
                                li.nav-item
                                    a.nav-link(href='category.html') Shop Category
                                li.nav-item
                                    a.nav-link(href='single-product.html') Product Details
                                li.nav-item
                                    a.nav-link(href='checkout.html') Product Checkout
                                li.nav-item
                                    a.nav-link(href='cart.html') Shopping Cart
                                li.nav-item
                                    a.nav-link(href='confirmation.html') Confirmation
                        li.nav-item.submenu.dropdown
                            a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Blog
                            ul.dropdown-menu
                                li.nav-item
                                    a.nav-link(href='blog.html') Blog
                                li.nav-item
                                    a.nav-link(href='single-blog.html') Blog Details
                        li.nav-item.submenu.dropdown.active
                            a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Pages
                            ul.dropdown-menu
                                li.nav-item
                                    a.nav-link(href='login.html') Login
                                li.nav-item.active
                                    a.nav-link(href='tracking.html') Tracking
                                li.nav-item
                                    a.nav-link(href='elements.html') Elements
                        li.nav-item
                            a.nav-link(href='contact.html') Contact
                    ul.nav.navbar-nav.navbar-right
                        li.nav-item
                            a.cart(href='#')
                                span.ti-bag
                        li.nav-item
                            button.search
                                span#search.lnr.lnr-magnifier
    #search_input_box.search_input
        .container
            form.d-flex.justify-content-between
                input#search_input.form-control(type='text' placeholder='Search Here')
                button.btn(type='submit')
                span#close_search.lnr.lnr-cross(title='Close Search')
// End Header Area
// Start Banner Area
section.banner-area.organic-breadcrumb
    .container
        .breadcrumb-banner.d-flex.flex-wrap.align-items-center.justify-content-end
            .col-first
                h1 Order Tracking
                nav.d-flex.align-items-center
                    a(href='index.html')
                        | Home
                        span.lnr.lnr-arrow-right
                    a(href='category.html') Fashon Category
// End Banner Area
// ================Tracking Box Area =================
section.tracking_box_area.section_gap
    .container
        .tracking_box_inner
            p
                | To track your order please enter your Order ID in the box below and press the &quot;Track&quot; button. This
                | was given to you on your receipt and in the confirmation email you should have received.
            form.row.tracking_form(action='#' method='post' novalidate='novalidate')
                .col-md-12.form-group
                    input#order.form-control(type='text' name='order' placeholder='Order ID' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Order ID'")
                .col-md-12.form-group
                    input#email.form-control(type='email' name='email' placeholder='Billing Email Address' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Billing Email Address'")
                .col-md-12.form-group
                    button.primary-btn(type='submit' value='submit') Track Order
// ================End Tracking Box Area =================
// start footer Area
footer.footer-area.section_gap
    .container
        .row
            .col-lg-3.col-md-6.col-sm-6
                .single-footer-widget
                    h6 About Us
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        | ut labore dolore
                        | magna aliqua.
            .col-lg-4.col-md-6.col-sm-6
                .single-footer-widget
                    h6 Newsletter
                    p Stay update with our latest
                    #mc_embed_signup
                        form.form-inline(target='_blank' novalidate='true' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
                            .d-flex.flex-row
                                input.form-control(name='EMAIL' placeholder='Enter Email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required='' type='email')
                                button.click-btn.btn.btn-default
                                    i.fa.fa-long-arrow-right(aria-hidden='true')
                                div(style='position: absolute; left: -5000px;')
                                    input(name='b_36c4fd991d266f23781ded980_aefe40901a' tabindex='-1' value='' type='text')
                                //
                                    <div class="col-lg-4 col-md-4">
                                    <button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
                                    </div>
                            .info
            .col-lg-3.col-md-6.col-sm-6
                .single-footer-widget.mail-chimp
                    h6.mb-20 Instragram Feed
                    ul.instafeed.d-flex.flex-wrap
                        li
                            img(src='img/i1.jpg' alt='')
                        li
                            img(src='img/i2.jpg' alt='')
                        li
                            img(src='img/i3.jpg' alt='')
                        li
                            img(src='img/i4.jpg' alt='')
                        li
                            img(src='img/i5.jpg' alt='')
                        li
                            img(src='img/i6.jpg' alt='')
                        li
                            img(src='img/i7.jpg' alt='')
                        li
                            img(src='img/i8.jpg' alt='')
            .col-lg-2.col-md-6.col-sm-6
                .single-footer-widget
                    h6 Follow Us
                    p Let us be social
                    .footer-social.d-flex.align-items-center
                        a(href='#')
                            i.fa.fa-facebook
                        a(href='#')
                            i.fa.fa-twitter
                        a(href='#')
                            i.fa.fa-dribbble
                        a(href='#')
                            i.fa.fa-behance
        .footer-bottom.d-flex.justify-content-center.align-items-center.flex-wrap
            p.footer-text.m-0
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                | Copyright &copy;
                script.
                    document.write(new Date().getFullYear());
                |  All rights reserved | This template is made with 
                i.fa.fa-heart-o(aria-hidden='true')
                |  by 
                a(href='https://colorlib.com' target='_blank') Colorlib
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
// End footer Area
script(src='js/vendor/jquery-2.2.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js' integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4' crossorigin='anonymous')
script(src='js/vendor/bootstrap.min.js')
script(src='js/jquery.ajaxchimp.min.js')
script(src='js/jquery.nice-select.min.js')
script(src='js/jquery.sticky.js')
script(src='js/nouislider.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/owl.carousel.min.js')
// gmaps Js
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE')
script(src='js/gmaps.min.js')
script(src='js/main.js')
